
.Button {
  background: transparent;
  outline: none;
  box-shadow: none;
  cursor: pointer;

  border: unset;
  border: 2px solid black;
  border-radius: 5px;

  font-size: 20px;
  line-height: 24px;
  padding: 13px 42px;
  min-width: 210px;
  transition: background-color .7s, border .7s, color .1s;

  &.small {
    font-size: 18px;
    line-height: 21px;
    padding: 10px 26px;
    min-width: unset;
  }

  &.disabled {
    cursor: not-allowed;
  }

  &.filled {
    &.green {
      background: #2EB27C;
      color: white;

      &:hover {
        opacity: .9;
      }

      &.disabled {
        border-color: #2EB27C;
        color: black;
        background: transparent;
      }
    }

    &.blue {
      background: #3c36f0;
      color: white;

      &:hover, &:active {
        background: #2EB27C;
        border-color: #2EB27C;
      }

      &.disabled {
        border-color: #3c36f0;
        color: black;
        background: transparent;
      }
    }
  }

  &.green {
    border-color: #2EB27C;

    &:hover {
      background: #2EB27C;
      color: white;
    }
  }

  &.blue {
    border-color: #3c36f0;

    &:hover {
      background: #3c36f0;
      color: white;
    }
  }

  &.roboto {
    font-family: "Roboto", sans-serif;
  }
}
